@mixin fontDisplay($uppercase: true) {
  font-family: var(--font-display);

  font-kerning: normal;
  font-feature-settings: 'kern' 1;
  -webkit-font-feature-settings: 'kern' 1;
  -webkit-font-smoothing: antialiased;

  @if $uppercase == true {
    text-transform: uppercase;
  }
}

@mixin fontBody($uppercase: false) {
  font-family: LoL Body;
  font-kerning: normal;
  -webkit-font-feature-settings: 'kern' 1;
  -webkit-font-smoothing: subpixel-antialiased;

  @if $uppercase == true {
    text-transform: uppercase;
  }
}
