@mixin fontDisplay($uppercase: true) {
  font-family: var(--font-display);

  font-kerning: normal;
  font-feature-settings: 'kern' 1;
  -webkit-font-feature-settings: 'kern' 1;
  -webkit-font-smoothing: antialiased;

  @if expression($uppercase) {
    text-transform: uppercase;
  }
}
