:root {
  --color-gold1: #f0e6d2;
  --color-gold2: #cdbe91;
  --color-gold3: #c8aa6e;
  --color-gold4: #c89b3c;
  --color-gold5: #785a28;
  --color-gold6: #463714;
  --color-gold7: #32281e;

  --color-blue1: #cdfafa;
  --color-blue2: #0ac8b9;
  --color-blue3: #0596aa;
  --color-blue4: #005a82;
  --color-blue5: #0a323c;
  --color-blue6: #0a1428;
  --color-grey-blue: #a3c7c7;

  --color-frame-grey: #1e282d;
  --color-gold-grey: #3c3732;
  --color-grey1: #a09b8c;
  --color-grey1_5: #5b5a56;
  --color-grey2: #3c3c41;
  --color-grey3: #1e2328;
  --color-grey-disabled: #5c5b57;

  --color-ip: #1e825a;
  --color-ip2: #00a741;
  --color-experience: #643c5a;
  --color-paladin: #0a96aa;
  --color-paladin2: #0acbe6;
  --color-mage: #be1e37;
  --color-mage2: #ff2345;
  --color-me: #fabe0a;

  --color-almost-black: #010a13;

  --easing-circular-ease-out: cubic-bezier(0, 0, 0, 1);
  --easing-cushioned: cubic-bezier(0.2, 0.9, 0, 1);
  --easing-magnetic: cubic-bezier(0, 0, 1, 0);
}
