@font-face {
  font-family: 'LoL Body';
  font-weight: 400;
  font-style: normal;
  src: url(/fonts/body-regular.otf) format('opentype');
}

@font-face {
  font-family: 'LoL Body';
  font-weight: 600;
  font-style: normal;
  src: url(/fonts/body-semibold.otf) format('opentype');
}

@font-face {
  font-family: 'LoL Body';
  font-weight: 700;
  font-style: normal;
  src: url(/fonts/body-bold.otf) format('opentype');
}

@font-face {
  font-family: 'LoL Body';
  font-weight: 400;
  font-style: italic;
  src: url(/fonts/body-regularitalic.otf) format('opentype');
}

@font-face {
  font-family: 'LoL Body';
  font-weight: 600;
  font-style: italic;
  src: url(/fonts/body-semibolditalic.otf) format('opentype');
}

@font-face {
  font-family: 'LoL Body';
  font-weight: 700;
  font-style: italic;
  src: url(/fonts/body-bolditalic.otf) format('opentype');
}

@font-face {
  font-family: 'LoL Display';
  font-weight: 300;
  font-style: normal;
  src: url(/fonts/display-light.otf) format('opentype');
}

@font-face {
  font-family: 'LoL Display';
  font-weight: 400;
  font-style: normal;
  src: url(/fonts/display-regular.otf) format('opentype');
}

@font-face {
  font-family: 'LoL Display';
  font-weight: 500;
  font-style: normal;
  src: url(/fonts/display-medium.otf) format('opentype');
}

@font-face {
  font-family: 'LoL Display';
  font-weight: 700;
  font-style: normal;
  src: url(/fonts/display-bold.otf) format('opentype');
}

@font-face {
  font-family: 'LoL Display';
  font-weight: 900;
  font-style: normal;
  src: url(/fonts/display-heavy.otf) format('opentype');
}

@font-face {
  font-family: 'LoL Display';
  font-weight: 300;
  font-style: italic;
  src: url(/fonts/display-lightitalic.otf) format('opentype');
}

@font-face {
  font-family: 'LoL Display';
  font-weight: 400;
  font-style: italic;
  src: url(/fonts/display-italic.otf) format('opentype');
}

@font-face {
  font-family: 'LoL Display';
  font-weight: 500;
  font-style: italic;
  src: url(/fonts/display-mediumitalic.otf) format('opentype');
}

@font-face {
  font-family: 'LoL Display';
  font-weight: 700;
  font-style: italic;
  src: url(/fonts/display-bolditalic.otf) format('opentype');
}

@font-face {
  font-family: 'LoL Display';
  font-weight: 900;
  font-style: italic;
  src: url(/fonts/display-heavyitalic.otf) format('opentype');
}

@font-face {
  font-family: 'LoL ESport';
  font-weight: 300;
  font-style: normal;
  src: url(/fonts/esport-light.ttf) format('truetype');
}

@font-face {
  font-family: 'LoL ESport';
  font-weight: 400;
  font-style: normal;
  src: url(/fonts/esport.ttf) format('truetype');
}

@font-face {
  font-family: 'LoL ESport';
  font-weight: 600;
  font-style: normal;
  src: url(/fonts/esport-semibold.ttf) format('truetype');
}
