::-webkit-scrollbar {
  inline-size: 11px;
  background-color: transparent;
  block-size: 11px;
}

::-webkit-scrollbar-track-piece {
  background: transparent;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

::-webkit-resizer {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border: 3px solid transparent;
  border-radius: 6px;
  background-clip: padding-box;
  block-size: 11px;
  background-color: rgb(var(--color-gold-500));
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(var(--color-gold-300));
}

::-webkit-scrollbar-thumb:active {
  background-color: rgb(var(--color-gold-700));
}

.no-distract {
  &::-webkit-scrollbar-thumb {
    background-color: rgb(var(--color-grey-700));
  }

  &:hover {
    &::-webkit-scrollbar-thumb {
      background-color: rgb(var(--color-gold-500));
    }

    &::-webkit-scrollbar-thumb:hover {
      background-color: rgb(var(--color-gold-300));
    }

    &::-webkit-scrollbar-thumb:active {
      background-color: rgb(var(--color-gold-700));
    }
  }
}
