p {
  color: rgb(var(--color-grey-100));
  font-size: 12px;
  font-weight: normal;
  line-height: 16px;
  letter-spacing: 0.025em;
  -webkit-font-smoothing: subpixel-antialiased;
}

label {
  color: rgb(var(--color-grey-100));
  font-size: 12px;
  font-weight: normal;
  line-height: 16px;
  letter-spacing: 0.1em;
  -webkit-font-smoothing: subpixel-antialiased;
  transition: 300ms color var(--easing-circular-ease-out);

  &.is-invalid {
    color: rgb(var(--color-mage-light));
  }
}

a {
  color: rgb(var(--color-gold-200));
  font-size: 12px;
  font-weight: normal;
  outline: 0;
  letter-spacing: 0.05em;
  -webkit-font-smoothing: subpixel-antialiased;

  &:hover,
  &:focus-visible {
    color: rgb(var(--color-gold-100));
  }

  &.external {
    color: rgb(var(--color-blue-400));
    text-decoration: none;

    &::after {
      inline-size: 9px;
      block-size: 9px;
      content: '';
      display: inline-block;
      vertical-align: middle;
      -webkit-mask: url(./assets/external-link-mask.png) no-repeat;
      -webkit-mask-size: contain;
      background-color: rgb(var(--color-blue-400));
      margin-inline-start: 5px;
      position: relative;
      inset-block-end: 1px;
    }

    &:hover,
    &:focus-visible {
      color: rgb(var(--color-gold-100));

      &::after {
        background-color: rgb(var(--color-gold-100));
      }
    }
  }
}

ul {
  li {
    color: rgb(var(--color-grey-100));
    font-size: 12px;
    font-weight: normal;
    line-height: 16px;
    letter-spacing: 0.025em;
    -webkit-font-smoothing: subpixel-antialiased;
  }
  &.title-list {
    li {
      font-family: var(--font-display);
      color: rgb(var(--color-gold-100));
      font-size: 14px;
      font-weight: 700;
      line-height: 18px;
      letter-spacing: 0.0375em;

      &.subhead {
        color: rgb(var(--color-grey-100));
      }
    }
  }
}
